$item-title-color: #f3fffe; // 18 局每一个选项的小标题颜色
$item-content-color: #b8d1d3; // 标题下面的每个子场景颜色
$item-content-active-color: #19ffec; // 激活时候的颜色
$bg-color: rgba(#395c61, 60%);
$bg-color-no-transparent: rgba(#4e8c96, 100%);
$panel-bg-title-color: rgb(95 109 94 / 50%); // 这个是何博的新按钮
$panel-bg-title-h: 40px;
$panel-bg-title-font-size: 20px;
$panel-bg-title-font-weight: 700;
$panel-bg-size: 104% 100%;
